.footer__menu-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__menu-link:hover {
    transition:  0.5s ease;
    opacity: 0.8;
}

@media all and (max-width: 570px) {
    .footer__menu-link {
        font-size: 24px;
        line-height: 24px;
    }
}