@import url("./__item/photo-grid__item.css");


.photo-grid {
    max-width: 1184px;
    width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin: 92px auto 0;
    justify-items: center;
    justify-self: stretch;
    justify-content: center;
}

@media all and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-gap: 14px;
    }
}

@media all and (max-width: 768px) {
    .photo-grid {
        margin-top: 88px;
        max-width: 720px;
        width: calc(100% - 48px);
        grid-gap: 16px;
    }
}

@media all and (max-width: 320px) {
    .photo-grid {
        margin-top: 64px;
        max-width: 288px;
        width: calc(100% - 32px);
        grid-gap: 12px;
    }
}