.footer__menu-item {
    margin-left: 18px;
}

.footer__menu-item:first-of-type {
    margin-left: 0;
}


@media all and (max-width: 705px) {
    .footer__menu-item:first-of-type {
        margin-left: 16px;
    } 
}

@media all and (max-width: 570px) {
    .footer__menu-item {
        margin-left: 16px;
        margin-top: 32px;
    }

    .footer__menu-item:first-of-type {
        margin-top: 0;
        margin-left: 16px;
    }
}