.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    max-width: 360px;
    padding-top: 32px;
    z-index: 1;
}

@media all and (max-width: 520px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        padding-top: 16px;
    }
}